<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740964389489-mck7tan670pn67s76hk3c57v6hr8ijah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740964389489-mck7tan670pn67s76hk3c57v6hr8ijah</string>
	<key>API_KEY</key>
	<string>AIzaSyDknJKOcARcJkFey8fyDra1ACHMt33SKDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>740964389489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vester</string>
	<key>PROJECT_ID</key>
	<string>vester-cb750</string>
	<key>STORAGE_BUCKET</key>
	<string>vester-cb750.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740964389489:ios:ce00646144fe359158c1d0</string>
</dict>
</plist>